$pri-color-1: #076c70;
$pri-color-2: hsl(182, 96%, 11%);
$pri-color-2-1: hsl(182, 96%, 16%);

$sec-color: #8f90a6;

$neutral-1: hsl(220, 3%, 83%);
$neutral-2: hsl(228, 2%, 59%);
$neutral-3: hsl(0, 0%, 25%);
$neutral-4: hsl(0, 0%, 95%);
